*{
    margin: 0;
    padding: 0;
}
/* common styles  */
body{
    font-family: 'Lato', sans-serif;
}
.btn-primary{
color: #FFF;
font-size: 16px;
font-weight: 400;
background: #E55473;
padding: 12px 20px;
border: 0;
border-radius: 5px;
}
.section-title{
    color: #272727;
text-align: center;
font-size: 30px;
font-weight: 900;
}




/* header section styles start from here  */
.header-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.header-info-container{
    width: 50%;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
} 
.header-info-container2{
    width: 60%;
   
}
.header-title{
    color: #272727;
font-size: 45px;
font-weight: 900;
margin-bottom: 20px;
}
.header-des{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 12px;
font-weight: 400;
margin-bottom:20px;
/* padding-right: 50px; */
}
.header-img-container{
    width: 50%;
    padding: 20px 0;
    display: flex;
    justify-content: left;
}
.header-img{
    width: 400px;
    height: 450px;
}





/* featured section styles start from here*/
.featured{
    /* background-color: #e5547328; */
    margin:130px 200px; 
}
.featured-des{
color: rgba(39, 39, 39, 0.60);
font-size: 12px;
font-weight: 400;
margin: 25px auto;
width: 40%;
text-align: center;
}
.featured-box-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.pink-fl{
    border:0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgba(167, 33, 98, 0.15);
    padding: 45px 40px 0px;
}
.red-fl{
    border: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgba(5, 151, 160, 0.15);
    /* padding: 40px 30px 0px; */
    padding: 45px 40px 0px;
}

.yellow-fl{
    border: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgba(71, 125, 17, 0.15);
    /* padding: 40px 30px 0px; */
    padding: 45px 40px 0px;
}
.featured-box-container img{
    width: 220px;
    height: 300px;
    border: 0;
}
.img-des{
color: #272727;
text-align: center;
font-size: 14px;
font-weight: 700;
text-decoration-line: underline;
padding-top: 10px;
}





/* some icon section styles start here  */
.icon-container{
    background:#d6b89c49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 175px;
    margin-left: 200px;
    padding:50px 90px;
    gap: 20px;
}
.icon-des{
color: rgba(39, 39, 39, 0.80);
font-size: 16px;
font-weight: 700;
margin-top: 20px;
}
.icon{
    text-align: center;
}





/* Hot deal section styles start from here*/
.hot-deal-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:130px 0;
    padding: 130px 150px;
    background: rgba(229, 84, 115, 0.10);
}
.hd-info-container{
   width: 50%;
    text-align: center;
}
.hd-des{
    color: rgba(39, 39, 39, 0.60);
font-size: 12px;
font-weight: 400;
margin: 25px auto;
}

.hd-img{
    width: 250px;
    height: 300px;
}
.hot-deal-off{
    color:#E55473; 
}





/* delivery section starts from heare  */
.delivery{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#d6b89c49;
}
.del-info-container{
    border-right:1px solid crimson;
    width: 50%;
    padding: 50px;
}
.del-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    margin: 25px auto;
    width: 50%;
    text-align: center;
}
.box-des{
    color: rgba(39, 39, 39, 0.60);    font-size: 12px;
    font-weight: 400;
    }
    .btn-see-more{
            color:rgb(246, 246, 246);
            font-size: 13px;
            font-weight: 700;
            background:  #E55473;
            padding: 5px 10px;
            border: 0;
            border-radius: 5px;
    }
    .del-boxes{
        width: 50%;
        display: flex;
        justify-content: center;
        
    }
    .colum{
        width: ;
        display: flex;
        justify-content: space-between;
    }
    .d-box1{
        border: 0;
        width: 40%;
        margin-left: 30px;
        padding: 10px;
        text-align: left;
    }
    .d-box2{
        width:40% ;
        margin-right: 50px;
        padding: 10px;
        text-align: 
    }
    .box{
        box-shadow: 2px 2px 8px #78134294;
    }
    .box-des{
        margin: 10px ;
    }
    .box-title{
        margin-left: 10px;
        font-size: 20px;
    }







/* instagram section styles start from here*/
.insta-container{
    margin:130px 180px;
}
.insta-pic{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.insta-pic > img{
    height: 260px;
    width: 220px;
}
.insta-des{
    color: rgba(39, 39, 39, 0.60);
font-size: 12px;
font-weight: 400;
margin: 25px auto;
width: 45%;
text-align: center;
}





/* latest deals section styles starts here  */
.lts-deals{
    margin:130px 180px;
    background-image:url(Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:80px 200px;
}

.lts-des{
    color: rgba(39, 39, 39, 0.60);
font-size: 12px;
font-weight: 400;
margin: 10px auto;
}
.subscribe{
    margin-top: 25px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
}
[placeholder="Enter your email here...."]{
    color: rgba(39, 39, 39, 0.60);
   text-align: left;
   font-size: 12px;
   font-weight: 400;
}
input{
    width: 75%;
    padding: 5px 0;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
}
.sub-btn{
    width: 20%;
}






/* footer styles starts from here  */
footer{
     
    padding-top: 130px; 
    color: white;
    background-color: black;
    text-align: center;
}
.footer-des{
    color:white;
    font-size: 12px;
    font-weight: 400;
    margin: 15px auto;
    width: 30%;
    }
    .ft-flower{
        color:#E55473; 
    }
    .footer-copyright{
        color: rgba(255, 255, 255, 0.40);
        font-size: 11px;
        font-weight: 400;
    }
   



